@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{ 
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    font-family: 'Roboto Condensed', sans-serif;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login_menu{
    background-image: linear-gradient( 135deg, #fad6a1b4 10%, #e96d71c7 100%);
    box-shadow: 0 0 5px 4px #e4c28b;
    /* background: rgba(230, 222, 222, 0.342); */
    border-radius: 8px;
    border: 1px solid #E96D71;
    width: 300px;
    position: absolute;
}

.banner {
    position: relative;
    left: 25%;
    bottom: 62px;
 width: 150px;
 height: 150px;
 

}
.banner img{
    border: 1px solid whitesmoke;
    box-shadow: 0 0 4px 3px rgb(231, 231, 231);
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    
}

.heading-text{
    
    text-align: center;
    font-size: x-large;
}


.Login-form{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.Login-form input{
    padding: 8px;
    border-radius:10px;
    border: 1px solid #fcb69f;
    transition: .3s border-color;
}
.Login-form input:hover{
    border: 1px solid #aaa;
}
.Login-form input:focus {
    
    border-bottom-style: groove;
    outline:none !important;
    /* background-color: red; */
}
.Login-form button{
    border: none;
    padding: 10px 0;
    cursor: pointer;
    background: #f6d365;
    border-radius: 8px;
}
.Login-form button:hover{
   transition:0.3s ;
    background: #fcb69f;
}


.login_icons{
    padding: 0 30px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-evenly;

}
.login_icons img:hover{
cursor: pointer;
}
